.personality_test {
    position: relative;
    overflow: hidden;
}

.personality_test .container {
    position: relative;
    padding: 0rem 0rem;
    text-align: center;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.personality_test .container h1 {
    position: absolute;
    color: black;
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    top: 20vh;
}

.personality_test .blur {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-filter: blur(5px);
}

.personality_test .windows-panel {
    font-family: 'Gotham', Arial, sans-serif;
    z-index: 99;
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding-top: 45vh;
    text-align: center;
}

.personality_test .windows-panel.animation {
    -webkit-animation: slideUp 1s ease 0s normal running 1 forwards;
    animation: slideUp 1s ease 0s normal running 1 forwards;
}

.personality_test .windows-panel h1 {
    opacity: 0;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.personality_test .windows-panel h1.animation {
    -webkit-animation: firstTitle 0.5s ease 1s normal running 1 forwards, slideUpTitle 1s ease 2s normal running 1 forwards;
    animation: firstTitle 0.5s ease 1s normal running 1 forwards, slideUpTitle 1s ease 2s normal running 1 forwards;
}

.personality_test .windows-panel h2 {
    opacity: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    width: 60%;
    margin: auto;
}

.personality_test .windows-panel h2.animation {
    -webkit-animation: firstTitle 0.5s ease 1.5s normal running 1 forwards, slideUpTitle 1s ease 2s normal running 1 forwards;
    animation: firstTitle 0.5s ease 1.5s normal running 1 forwards, slideUpTitle 1s ease 2s normal running 1 forwards;
}


/* ---------------------------- */


/* QUESTIONS */


/*Question 1 : Car délai avant lancement */

.personality_test .windows-panel .question1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: none;
}

.personality_test .windows-panel .question1.animation {
    display: initial;
    -webkit-animation: fade 0.8s ease 3s normal running 1 forwards;
    animation: fade 0.8s ease 3s normal running 1 forwards;
}

.personality_test .windows-panel .question1.animation.gone {
    -webkit-animation: fadeGone 0.4s ease 0s normal running 1 forwards;
    animation: fadeGone 0.4s ease 0s normal running 1 forwards;
}


/* Questions en général */

.personality_test .windows-panel .questions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    display: none;
}

.personality_test .windows-panel .questions.animation {
    display: initial;
    opacity: 0;
    -webkit-animation: fade 0.8s ease 0.5s normal running 1 forwards;
    animation: fade 0.8s ease 0.5s normal running 1 forwards;
}

.personality_test .windows-panel .questions.animation.gone {
    -webkit-animation: fadeGone 0.4s ease 0s normal running 1 forwards;
    animation: fadeGone 0.4s ease 0s normal running 1 forwards;
}


/* Div qui contient toutes les questions */

.personality_test .windows-panel .div-questions {
    margin: auto;
    position: relative;
    text-align: left;
    width: 50%;
    /*    height: 150px;*/
    color: white;
    margin-top: -3rem;
}

.personality_test .windows-panel .question {
    margin-bottom: 20px;
}

.personality_test .windows-panel .answers {
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
}

.personality_test .windows-panel input {
    display: none;
}

.personality_test .windows-panel .reponse {
    font-size: 30px;
    line-height: 50px
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUpTitle {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-30vh);
        transform: translateY(-30vh);
    }
}

@keyframes slideUpTitle {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-30vh);
        transform: translateY(-30vh);
    }
}

@-webkit-keyframes firstTitle {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.25) translateZ(0px) translateY(70px);
        transform: scale(1.25) translateZ(0px) translateY(70px);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateZ(0px) translateY(0px);
        transform: scale(1) translateZ(0px) translateY(0px);
    }
}

@keyframes firstTitle {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.25) translateZ(0px) translateY(70px);
        transform: scale(1.25) translateZ(0px) translateY(70px);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateZ(0px) translateY(0px);
        transform: scale(1) translateZ(0px) translateY(0px);
    }
}


/* Questions qui arrivent */

@-webkit-keyframes fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}


/* Questions qui partent */

@-webkit-keyframes fadeGone {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        visibility: hidden;
    }
}

@keyframes fadeGone {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        visibility: hidden;
    }
}