body {
  font-size: 1.125em;
  font-family: "Arial";
  color: #fff;
  background: #0b0506;
  overflow: hidden;
}

.main,
.bottom-bar {
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

.main {
  width: 75vw;
  float: left;
}

.main .illustration {
  width: 100%;
  height: 220px;
}

.main .illustration img {
  max-height: 100%;
  display: block;
  margin: auto;
}

.main .story {
  width: 100%;
  height: 274px;
  border: 0.0625em solid rgba(255, 0, 0, 0.28);
  overflow: auto;
  padding: 2.5em 0;
}

.main .story p {
  padding: 0.46875em 1.875em;
}

.main .story:before {
  content: '';
  position: absolute;
  top: 220px;
  left: 0;
  box-shadow: inset 0px 30px 80px black, inset 0px -30px 80px black;
  width: 75vw;
  height: 274px;
}

.main .questions {
  width: 100%;
  height: 31.25em;
  border-top: 0.0625em solid rgba(255, 255, 255, 0);
}

.main .questions .arrow_naration {
  position: absolute;
  right: calc(25% + 30em /16);
  bottom: 6.25em;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1.875em;
}

.main .questions .arrow_naration a {
  color: red;
  text-decoration: none;
}

.main .questions ul {
  text-align: center;
}

.main .questions ul li:not(.arrow_naration) {
  margin: 0.3125em 0px;
}

.main .questions ul li:not(.arrow_naration) a:hover {
  color: red;
}

.main .questions .timer {
  width: 12.5em;
  height: 0.5em;
  background: #373637;
  margin: auto;
}

.main .questions .timer span {
  width: 100%;
  height: 80%;
  background: #edb424;
  display: block;
  position: relative;
  top: 10%;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.ui-panel {
  height: 100vh;
  width: 25vw;
  float: left;
  text-align: center;
  text-transform: uppercase;
  border-left: 0.125em solid white;
  overflow-y: auto;
}

.ui-panel .act {
  height: 50px;
  background: green;
  text-align: left;
}

.ui-panel .act p {
  line-height: 50px;
  padding-left: 1.25em;
}

.ui-panel .date .day {
  font-size: 0.75em;
  height: 20px;
  line-height: 20px;
  background: #153059;
}

.ui-panel .date .hour {
  font-size: 1.5em;
  height: 50px;
  line-height: 50px;
  background: #001328;
}

.ui-panel .remappage {
  font-size: 0.75em;
  height: 50px;
  background: #1a3b5c;
  overflow: hidden;
}

.ui-panel .remappage img {
  float: left;
  position: relative;
  right: 1.25em;
  margin: 0.3125em 0;
}

.ui-panel .remappage .state {
  margin: 0.625em 0 0.3125em 0px;
}

.ui-panel .remappage p:not(.state) {
  font-size: 0.5625em;
}

.ui-panel .remappage p:not(.state) span {
  font-weight: bold;
}

.ui-panel .pulsars {
  height: 50px;
  background: red;
}

.ui-panel .pulsars p {
  line-height: 50px;
  padding-left: 1.25em;
}

.ui-panel .pulsars span img {
  position: relative;
  top: 0.46875em;
}

.ui-panel .user-stats .icon {
  width: 1.25em;
  height: 1.25em;
  background: url(../img/icons/temporel.png) no-repeat center center;
  background-size: cover;
  display: block;
  float: left;
  margin: 0.9375em 0;
  position: relative;
  left: 3.75em;
}

.ui-panel .user-stats > p {
  line-height: 50px;
}

.ui-panel .user-stats > p span {
  font-weight: bold;
}

.ui-panel .user-stats ul {
  font-size: 0.875em;
  text-align: left;
  width: 70%;
  margin: auto;
}

.ui-panel .user-stats ul li {
  padding: 0.25em 0;
}

.ui-panel .user-stats ul li p {
  display: inline-block;
}

.ui-panel .user-stats ul li p:last-child {
  float: right;
}

.ui-panel .menu {
  position: absolute;
  bottom: 0;
  float: left;
  width: 25%;
}

.ui-panel .menu button {
  display: block;
  background: #353732;
  font-size: 0.75em;
  width: 100%;
  text-align: left;
  padding-left: 1.875em;
  height: 30px;
  line-height: 30px;
}

.ui-panel .menu ul li {
  display: inline-block;
  height: 30px;
  background: #252a2d;
  width: calc(100% / 4);
  float: left;
  border-right: 0.0625em solid white;
}

.ui-panel .menu ul li img {
  margin: 5px;
}

.bottom-bar {
  width: 75%;
  height: 2.5em;
  background: rgba(255, 0, 0, 0.18);
  position: absolute;
  bottom: 0;
}

.bottom-bar span {
  height: 0.25em;
  margin: 0.625em 0;
  display: inline-block;
  width: calc(50% - em(30));
  float: left;
  background: white;
}

.bottom-bar span:last-child {
  margin-left: 1.875em;
}

.bottom-bar a {
  float: left;
  -webkit-transform: translateX(0.9375em);
      -ms-transform: translateX(0.9375em);
          transform: translateX(0.9375em);
}

@media only screen and (max-width: 1100px) {
  border: 2px solid red;
  .pulsars {
    font-size: 0.75em;
  }
  .pulsars p {
    padding-left: 0px;
  }
  .user-stats .icon {
    left: 0.625em;
    height: 0.9375em;
    width: 0.9375em;
    margin: 1.09375em 0;
  }
  .user-stats > p {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    width: 100%;
    height: auto;
    float: none;
  }
  .ui-panel {
    width: 100%;
    height: auto;
    float: none;
  }
}
