.wake_up {
    position: relative;
    background-color: #181818;
}

.wake_up .win {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.73);
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
}

.wake_up .win h1 {
    margin-top: 50vh;
    font-size: 30px;
    font-family: 'Gotham', Arial, sans-serif;
    color: #fefefe;
    text-transform: uppercase;
    font-weight: normal;
}

.wake_up .win.fade {
    opacity: 0;
}

.wake_up .container {
    position: relative;
    width: 100%;
    height: 10rem;
    text-align: center;
}

.wake_up .container h1 {
    padding-top: 10rem;
    font-size: 30px;
    font-family: 'Gotham', Arial, sans-serif;
    color: #fefefe;
    text-transform: uppercase;
    font-weight: normal;
}

.wake_up .container h2 {
    font-size: 15px;
    font-family: 'Gotham', Arial, sans-serif;
    color: #fefefe;
    font-weight: normal;
    font-style: italic;
    opacity: 0.5;
}

.wake_up .container .area {
    position: relative;
    width: 70%;
    height: 10rem;
    margin: auto;
    margin-top: 10rem;
}

.wake_up .container .area .square-move {
    position: absolute;
    top: 20%;
    left: 0%;
    opacity: 1;
    width: 3rem;
    height: 3rem;
    background-color: #181818;
    border: 4px solid #eecf17;
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out 0s;
    transition: opacity 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out 0s;
    transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out 0s;
    transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translateZ(0) rotate(45deg) scale(1);
    transform: translateZ(0) rotate(45deg) scale(1);
    -webkit-animation: catchMe 2.5s ease-in-out 0s alternate infinite running forwards;
    animation: catchMe 2.5s ease-in-out 0s alternate infinite running forwards;
}

.wake_up .container .area .square-move.fade {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
}

.wake_up .area-granted {
    width: 15%;
    height: 15%;
    left: 12%;
    position: absolute;
    top: 28%;
    background-color: rgba(255, 255, 255, 0.26);
}

.wake_up .border {
    position: absolute;
    top: 35%;
    width: 100%;
    height: .1rem;
    background-color: rgba(255, 255, 255, 0.35);
}

@-webkit-keyframes catchMe {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@keyframes catchMe {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}