.prologue {
  backface-visibility: hidden;
  height: 100vh;
  width: 100vw;
  background: black;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;
}

.prologue video {
  min-width: 100%;
  min-height: 100%;
}

.prologue .citation {
  color: white;
  width: 70%;
  margin: auto;
  margin-top: 35vh;
}

.prologue .citation p {
  font-family: 'Baskerville', Times, serif;
  font-style: italic;
  font-size: 31px;
  line-height: 1.48;
  letter-spacing: 1px;
  animation: fadeIn 3.5s ease-out 0s normal running 1 forwards, fadeIn 1.5s ease-in-out 6s reverse running 1 forwards;
}

.prologue .citation p:nth-child(2) {
  opacity: 0;
  margin-top: 1rem;
  font-style: normal;
  animation: fadeInAuthor 1s ease-out 1s normal running 1 forwards, fadeInAuthor 1.5s ease-in-out 6s reverse running 1 forwards;
}

.prologue .hide {
  display: none;
}

.prologue .splash-screen {
  opacity: 1;
  margin: auto;
  margin-top: 40vh;
  text-align: center;
  width: 100%;
  visibility: visible;
  color: white;
  transform: translate3d(0px, 0, 0);
  font-family: 'Gotham', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

.prologue .splash-screen h1 {
  transform: translate3d(0px, 0, 0);
  font-weight: bold;
  animation: slideLeft 1s ease-in-out 0s normal paused 1 forwards, slideLeft 1s ease-in-out 3s reverse running 1 forwards;
}

.prologue .splash-screen .bar {
  transform: translate3d(0px, 0, 0);
  width: 500px;
  height: 3px;
  margin: 1rem auto;
  background-color: white;
  backface-visibility: hidden;
  animation: expandBar 1s ease-in-out 0s normal paused 1 forwards, expandBar 1s ease-in-out 3s reverse running 1 forwards;
}

.prologue .splash-screen h2 {
  transform: translate3d(0px, 0, 0);
  margin-top: 1.5rem;
  font-weight: 200;
  animation: slideRight 1s ease-in-out 0s normal paused 1 forwards, slideRight 1s ease-in-out 3s reverse running 1 forwards;
}

.prologue .pagination-acte {
  transform: translate3d(0px, 0, 0);
  opacity: 0;
  width: 100%;
  animation: fadeIn 1s ease-out .75s normal paused 1 forwards, fadeIn 1s ease-out 3s reverse running 1 forwards;
}

.prologue .pagination-acte .dots {
  transform: translate3d(0px, 0, 0);
  display: inline-block;
  height: .75rem;
  width: .75rem;
  border: 1px solid white;
  border-radius: 20px;
}

.prologue .pagination-acte .dots.active {
  transform: translate3d(0px, 0, 0);
  animation: blinkDot 1.5s ease-in-out 0s normal running infinite forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAuthor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    backface-visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
    backface-visibility: hidden;
  }
}

@keyframes expandBar {
  0% {
    opacity: 0;
    transform: scaleX(0) translate3d(-50px, 0, 0);
    backface-visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: scaleX(1) translate3d(-50px, 0, 0);
    backface-visibility: hidden;
  }
}

@keyframes blinkDot {
  0% {
    transform: translate3d(0px, 0, 0);
    background-color: white;
    backface-visibility: hidden;
  }
  50% {
    transform: translate3d(0px, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    backface-visibility: hidden;
  }
  100% {
    transform: translate3d(0px, 0, 0);
    background-color: white;
    backface-visibility: hidden;
  }
}
