@-webkit-keyframes pulsar-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-moz-keyframes pulsar-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-o-keyframes pulsar-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes pulsar-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@-moz-keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@-o-keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@-webkit-keyframes pop-up {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  15% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }
}

@-moz-keyframes pop-up {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  15% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }
}

@-o-keyframes pop-up {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  15% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  15% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }
}

@-webkit-keyframes pop-up-success {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  15% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }
}

@-moz-keyframes pop-up-success {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  15% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }
}

@-o-keyframes pop-up-success {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  15% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }
}

@keyframes pop-up-success {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  15% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }
}

@-webkit-keyframes mask-playzero-1 {
  from {
    -webkit-mask-position: 0 0;
    -ms-mask-position: 0 0;
    -moz-mask-position: 0 0;
    -o-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    -ms-mask-position: 100% 0;
    -moz-mask-position: 100% 0;
    -o-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-moz-keyframes mask-playzero-1 {
  from {
    -webkit-mask-position: 0 0;
    -ms-mask-position: 0 0;
    -moz-mask-position: 0 0;
    -o-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    -ms-mask-position: 100% 0;
    -moz-mask-position: 100% 0;
    -o-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-o-keyframes mask-playzero-1 {
  from {
    -webkit-mask-position: 0 0;
    -ms-mask-position: 0 0;
    -moz-mask-position: 0 0;
    -o-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    -ms-mask-position: 100% 0;
    -moz-mask-position: 100% 0;
    -o-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes mask-playzero-1 {
  from {
    -webkit-mask-position: 0 0;
    -ms-mask-position: 0 0;
    -moz-mask-position: 0 0;
    -o-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    -ms-mask-position: 100% 0;
    -moz-mask-position: 100% 0;
    -o-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

body {
  font-size: 18px;
  font-family: "Arial";
  color: #fff;
  background: url("../img/background_ingame.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  font-family: 'Gotham Book';
  font-size: 16px;
  z-index: 1;
}

.intro .container {
  width: 85%;
  margin: auto;
  text-align: center;
  animation: remove 5s paused forwards;
  transition: opacity 2s;
}

.intro .container .motion-glow {
  margin: 15vh auto !important;
  height: 40vh;
  width: 40vh;
  margin: auto;
  animation: fadeIn 1s;
}

.intro .container .motion-glow video {
  min-width: 100%;
  min-height: 100%;
}

.intro .container p {
  animation: remove 1s forwards paused;
  line-height: 1.25;
  transition: 2s;
}

.intro .container p:last-of-type {
  margin-top: -10px;
}

.intro .container input[type=text] {
  margin: 10px auto;
  background: none;
  width: auto;
  height: 2em;
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  text-align: center;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid transparent;
  -webkit-padding-start: 0;
  align-items: flex-start;
  line-height: 1em;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.15s;
}

.intro .container input[type=text]:focus {
  border-bottom: 1px solid white;
}

.intro .container input[type=text].required {
  border: 1px solid white;
}

.intro .container input[type=text].confirmed {
  color: #feceab;
  border-color: transparent;
}

.intro .container .translate {
  animation: fadeIn 1s;
  transform: translateY(-65px);
}

.main,
.bottom-bar {
  transition: transform 0.15s;
}

.main {
  width: 75vw;
  float: left;
  background-color: rgba(0, 0, 0, 0.8);
}

.main .illustration {
  width: 100%;
  height: 275px;
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848);
  background: linear-gradient(to right, #4b6cb7, #182848);
}

.main .illustration:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 275px;
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848);
  background: linear-gradient(to right, #4b6cb7, #182848);
  opacity: 1;
  -moz-animation: fadeIn 1s infinite;
}

.main .illustration #fondo {
  /*background: url(http://i.imgur.com/ygVpJMP.jpg) no-repeat left top;*/
  background: url(http://s28.postimg.org/3z90275y5/yg_Vp_JMP.jpg) no-repeat left top;
  background-size: cover;
  height: 275px;
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
}

.main .illustration #encima {
  position: absolute;
  height: 275px;
  width: 75%;
  left: 0;
  top: 0;
  /*-webkit-mask: url(http://i.imgur.com/AYJuRke.png);*/
  -webkit-mask: url(../img/brush.png);
  -webkit-mask-size: 3000% 100%;
  -webkit-animation: mask-playzero-1 2s steps(29) paused infinite;
}

.main .illustration #encima.chan:before {
  background: url(http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2016/03/maxresdefault.jpg) no-repeat center center;
}

.main .illustration #encima.illu:before {
  background: url(https://cdn-images-1.medium.com/max/2000/1*1RteQIQxKKt0SVnZ8bh0pg.jpeg) no-repeat center center;
}

.main .illustration #encima:before {
  content: '';
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(http://s22.postimg.org/urrt8jfq9/d_JLNh_FN.jpg) no-repeat left top;
}

.main .illustration img {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  display: block;
  margin: auto;
  opacity: 0.5;
  animation: pulsar-blink 1s reverse 1s forwards;
}

.main .story {
  width: 100%;
  height: 40vh;
  overflow: auto;
  padding: 40px 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Libre Baskerville', serif;
  color: white;
}

.main .story p {
  padding: 7.5px 30px;
}

.main .story:before {
  content: '';
  position: absolute;
  top: 275px;
  left: 0;
  box-shadow: inset 0px 30px 80px rgba(0, 0, 0, 0.75), inset 0px -30px 80px rgba(0, 0, 0, 0.75);
  width: 75vw;
  height: 40vh;
}

.main .questions {
  font-size: 1rem;
  font-family: 'Gotham',Arial,sans-serif;
  font-weight: 300;
  width: 100%;
  height: 500px;
  cursor: default;
  border-top: 1px solid rgba(255, 255, 255, 0);
  transform: translateZ(0) translateY(70px);
}

.main .questions .arrows_choice {
  display: inline-block;
  width: 75px;
  margin: auto;
}

.main .questions .arrows_choice .firstRow img {
  width: 20px;
  transform: translateZ(0) rotate(90deg);
}

.main .questions .arrows_choice .firstRow .arrow-up {
  transform: translateZ(0) translateY(0px);
  translate: all 0.3s;
}

.main .questions .arrows_choice .firstRow .arrow-up.onpress {
  animation: moveArrowChoiceUp 0.3s ease-in-out 0s alternate running 3 forwards;
}

.main .questions .arrows_choice .middleRow {
  position: relative;
  width: 100%;
  display: inline-block;
}

.main .questions .arrows_choice .middleRow .arrow-left {
  transform: translateZ(0) translateY(1px) translateX(-10px);
  display: inline-block;
}

.main .questions .arrows_choice .middleRow .arrow-left.onpress {
  animation: moveArrowChoiceLeft 0.3s ease-in-out 0s alternate running 3 forwards;
}

.main .questions .arrows_choice .middleRow .arrow-left img {
  width: 20px;
}

.main .questions .arrows_choice .middleRow .circle_pulsar {
  display: inline-block;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 5px;
  left: 31px;
  border-radius: 20px;
  border: 3px solid white;
  transform: translateZ(0px) translateX(0px) translateY(0px);
}

.main .questions .arrows_choice .middleRow .circle_pulsar.animation_right {
  animation: circleRight 1s ease-in-out .2s alternate running 1 forwards;
}

.main .questions .arrows_choice .middleRow .circle_pulsar.animation_left {
  animation: circleLeft 1s ease-in-out .2s alternate running 1 forwards;
}

.main .questions .arrows_choice .middleRow .circle_pulsar.animation_top {
  animation: circleTop 1s ease-in-out .2s alternate running 1 forwards;
}

.main .questions .arrows_choice .middleRow .circle_pulsar.animation_bottom {
  animation: circleBottom 1s ease-in-out .2s alternate running 1 forwards;
}

.main .questions .arrows_choice .middleRow .arrow-right {
  transform: translateZ(0) translateY(-1px) translateX(10px) rotate(180deg);
  display: inline-block;
}

.main .questions .arrows_choice .middleRow .arrow-right.onpress {
  animation: moveArrowChoiceRight 0.3s ease-in-out 0s alternate running 3 forwards;
}

.main .questions .arrows_choice .middleRow .arrow-right img {
  width: 20px;
}

.main .questions .arrows_choice .bottomRow .arrow-bottom {
  transform: translateZ(0) rotate(-90deg);
}

.main .questions .arrows_choice .bottomRow .arrow-bottom.onpress {
  animation: moveArrowChoiceBottom 0.3s ease-in-out 0s alternate running 3 forwards;
}

.main .questions .arrows_choice .bottomRow .arrow-bottom img {
  width: 20px;
}

.main .questions .arrow_naration {
  position: absolute;
  right: calc(25% + 30px);
  bottom: 100px;
  background-image: url("../img/arrow_next.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
  transition: all 0.3s;
  animation: moveArrowNext 1s ease-in-out 0s alternate running infinite forwards;
  font-size: 40px;
}

.main .questions .arrow_naration:hover {
  cursor: pointer;
  opacity: 1;
}

.main .questions .arrow_naration:active {
  opacity: 0.7;
}

.main .questions .arrow_naration a {
  border-radius: 50px;
  color: transparent;
  text-decoration: none;
}

.main .questions .arrow_naration a:hover {
  cursor: pointer;
  opacity: 1;
}

.main .questions .arrow_naration a:active {
  opacity: 0.7;
}

.main .questions ul {
  text-align: center;
}

.main .questions ul li:not(.arrow_naration) {
  margin: 5px 0px;
}

.main .questions .timer {
  width: 200px;
  height: 8px;
  background: #373637;
  margin: auto;
}

.main .questions .timer span {
  width: 100%;
  height: 80%;
  background: #edb424;
  display: block;
  position: relative;
  top: 10%;
  transition: transform 1s linear;
}

.main .questions .firstRow {
  text-align: center;
}

.main .questions .firstRow .choiceA {
  text-align: center;
  padding: .75rem;
  width: 70%;
  margin: auto;
  transform: translateZ(0) translateY(-10px);
  transition: all .3s ease-in-out;
  opacity: 0.5;
}

.main .questions .firstRow .choiceA:hover {
  cursor: pointer;
  opacity: 0.7;
}

.main .questions .firstRow .choiceA:active {
  cursor: pointer;
  opacity: 1;
}

.main .questions .firstRow .choiceA.selected {
  opacity: 1;
  background-color: rgba(21, 48, 89, 0.6);
  border: 1px solid white;
}

.main .questions .secondRow {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.main .questions .secondRow .choiceD {
  display: inline-block;
  transform: translateZ(0) translateY(-25px);
  padding: .75rem;
  text-align: right;
  width: 40%;
  transition: all .3s ease-in-out;
  opacity: 0.5;
}

.main .questions .secondRow .choiceD:hover {
  cursor: pointer;
  opacity: 0.7;
}

.main .questions .secondRow .choiceD:active {
  cursor: pointer;
  opacity: 1;
}

.main .questions .secondRow .choiceD.selected {
  opacity: 1;
  background-color: rgba(21, 48, 89, 0.6);
  border: 1px solid white;
}

.main .questions .secondRow .arrows {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

.main .questions .secondRow .choiceB {
  display: inline-block;
  transform: translateZ(0) translateY(-25px);
  padding: .75rem;
  text-align: left;
  width: 40%;
  transition: all .3s ease-in-out;
  opacity: 0.5;
}

.main .questions .secondRow .choiceB:hover {
  cursor: pointer;
  opacity: 0.7;
}

.main .questions .secondRow .choiceB:active {
  cursor: pointer;
  opacity: 1;
}

.main .questions .secondRow .choiceB.selected {
  opacity: 1;
  background-color: rgba(21, 48, 89, 0.6);
  border: 1px solid white;
}

.main .questions .thirdRow {
  padding-top: 1rem;
  text-align: center;
}

.main .questions .thirdRow .choiceC {
  text-align: center;
  padding: .75rem;
  width: 70%;
  margin: auto;
  margin-top: -1rem;
  transition: all .3s ease-in-out;
  opacity: 0.5;
}

.main .questions .thirdRow .choiceC:hover {
  cursor: pointer;
  opacity: 0.7;
}

.main .questions .thirdRow .choiceC:active {
  cursor: pointer;
  opacity: 1;
}

.main .questions .thirdRow .choiceC.selected {
  opacity: 1;
  background-color: rgba(21, 48, 89, 0.6);
  border: 1px solid white;
}

.main .pop_up {
  font-family: 'Gotham', 'Arial', sans-serif;
  font-size: 0.9em;
  position: absolute;
  width: 400px;
  height: 50px;
  background: rgba(24, 40, 72, 0.95);
  box-shadow: 0px 5px 10px #0b1322;
  top: 50px;
  left: 20px;
  backface-visibility: hidden;
  animation: pop-up 5s ease-in-out infinite;
}

.main .pop_up.success {
  right: calc(25vh + 20px) !important;
  animation: pop-up-success 5s ease-in-out infinite;
}

.main .pop_up .icon {
  float: left;
  width: 25%;
  background: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/3d-glossy-orange-orbs-icons-alphanumeric/104839-3d-glossy-orange-orb-icon-alphanumeric-exclamation-point1.png) no-repeat center center;
  height: 100%;
  background-size: cover;
}

.main .pop_up .message {
  float: left;
  width: 75%;
  height: 100%;
  line-height: 50px;
  text-align: center;
}

.ui-panel {
  font-family: 'Gotham', 'Arial', sans-serif;
  height: 100vh;
  float: right;
  width: 25vw;
  background-color: rgba(0, 0, 0, 0.6);
  float: left;
  text-align: center;
  text-transform: uppercase;
  overflow-y: auto;
}

.ui-panel .act {
  height: 65px;
  background: transparent;
  text-align: left;
  padding-top: 15px;
}

.ui-panel .act p {
  font-size: 17px;
  line-height: 1.4;
  padding-left: 13px;
  letter-spacing: 1.2px;
}

.ui-panel .act p span {
  font-weight: bold;
}

.ui-panel .act p:first-child {
  letter-spacing: 0px;
  font-size: 9px;
}

.ui-panel .date .day {
  font-weight: 500;
  letter-spacing: .5px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  background: #153059;
}

.ui-panel .date .hour {
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  background: #001328;
}

.ui-panel .remappage {
  user-select: none;
  cursor: pointer;
  font-size: 12px;
  height: 60px;
  background: rgba(26, 59, 92, 0.4);
  transition: all 0.4s;
  color: rgba(225, 223, 225, 0.4);
  overflow: hidden;
}

.ui-panel .remappage:hover {
  background: #1a3b5c;
  color: #e1dfe1;
}

.ui-panel .remappage:hover img {
  opacity: 0.7;
}

.ui-panel .remappage img {
  float: left;
  position: relative;
  right: 21px;
  top: -9px;
  margin: 5px 0;
  width: 4rem;
  height: 4rem;
  opacity: 0.2;
  transition: all 0.3s;
}

.ui-panel .remappage .state {
  font-size: 15px;
  letter-spacing: .5px;
  margin: 15px 30px 5px 0px;
  opacity: 0.5;
}

.ui-panel .remappage p:not(.state) {
  opacity: 0.5;
  letter-spacing: 0px;
  font-size: 13px;
  margin-right: 30px;
}

.ui-panel .remappage p:not(.state) span {
  font-weight: bold;
}

.ui-panel .pulsars {
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
}

.ui-panel .pulsars p {
  line-height: 60px;
  padding-left: 20px;
  font-weight: 400;
}

.ui-panel .pulsars span img {
  position: relative;
  top: 7.5px;
  animation: pulsar-blink 2.5s infinite 10s alternate ease-in;
}

.ui-panel .pulsars .pulsar-remainging {
  font-weight: bold;
}

.ui-panel .pulsars .pulsar-remainging:hover {
  letter-spacing: 2px;
}

.ui-panel .user-stats .icon {
  width: 20px;
  height: 20px;
  background: url(../img/icons/pie-chart5.svg) no-repeat center center;
  background-size: cover;
  display: block;
  float: left;
  margin: 18px 0;
  position: relative;
  left: 15%;
}

.ui-panel .user-stats > p {
  line-height: 60px;
}

.ui-panel .user-stats > p span {
  font-weight: bold;
}

.ui-panel .user-stats ul {
  font-size: 14px;
  text-align: left;
  width: 70%;
  margin: auto;
}

.ui-panel .user-stats ul li {
  opacity: 0;
  font-size: 16px;
  padding: 8px 0;
  animation: fade-in 2s forwards;
}

.ui-panel .user-stats ul li:nth-child(1) {
  animation-delay: 0.15s;
}

.ui-panel .user-stats ul li:nth-child(2) {
  animation-delay: 0.3s;
}

.ui-panel .user-stats ul li:nth-child(3) {
  animation-delay: 0.45s;
}

.ui-panel .user-stats ul li:nth-child(4) {
  animation-delay: 0.6s;
}

.ui-panel .user-stats ul li:nth-child(5) {
  animation-delay: 0.75s;
}

.ui-panel .user-stats ul li:nth-child(6) {
  animation-delay: 0.9s;
}

.ui-panel .user-stats ul li:nth-child(7) {
  animation-delay: 0.9s;
}

.ui-panel .user-stats ul li p {
  display: inline-block;
}

.ui-panel .user-stats ul li p:last-child {
  float: right;
  transition: opacity 0.3s;
}

.ui-panel .menu {
  position: absolute;
  bottom: 0;
  float: left;
  width: 25%;
}

.ui-panel .menu button {
  text-transform: uppercase;
  display: block;
  background: #353732;
  font-size: 12px;
  width: 100%;
  color: white;
  text-align: left;
  padding-left: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
  transition: all 0.3s;
  transform: translateY(0px);
  opacity: 1;
}

.ui-panel .menu button.hide {
  transform: translateY(-10px);
  opacity: 0;
}

.ui-panel .menu ul li {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  background: rgba(255, 255, 255, 0.04);
  width: calc(100% / 4);
  float: left;
  border-right: 1px solid white;
  transition: 0.15s;
}

.ui-panel .menu ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.ui-panel .menu ul li:hover img {
  opacity: 0.5;
}

.ui-panel .menu ul li:active {
  background: rgba(255, 255, 255, 0.5);
}

.ui-panel .menu ul li:active img {
  opacity: 0.8;
}

.ui-panel .menu ul li img {
  margin: 5px;
  transition: opacity 0.3s;
}

.bottom-bar {
  width: 75%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.bottom-bar span {
  height: 4px;
  margin: 10px 0;
  display: inline-block;
  width: calc(50% - 30px);
  float: left;
  background: white;
}

.bottom-bar span:last-child {
  margin-left: 30px;
}

.bottom-bar a {
  float: left;
  transform: translateX(15px);
}

@media only screen and (max-width: 1100px) {
  border: 2px solid red;
  .pulsars {
    font-size: 12px;
  }
  .pulsars p {
    padding-left: 0px;
  }
  .user-stats .icon {
    left: 10px;
    height: 15px;
    width: 15px;
    margin: 17.5px 0;
  }
  .user-stats > p {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: #343537;
  border: 0px none #ffffff;
  border-radius: 57px;
}

::-webkit-scrollbar-track:hover {
  background: #343537;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media only screen and (max-width: 1400px) {
  .ui-panel .pulsars p {
    line-height: 60px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1000px) {
  .ui-panel .pulsars p {
    line-height: 60px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 10px;
  }
}

.game-over {
  width: 100vw;
  height: 100vh;
  font-family: 'Gotham Book', 'Arial', sans-serif;
  position: relative;
  background: #060607;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #060607, #1b1d1f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #060607, #1b1d1f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-align: center;
}

.game-over article {
  text-transform: uppercase;
  position: absolute;
  width: 80%;
  height: 50vh;
  left: 10%;
  top: 20%;
}

.game-over article h2 {
  font-family: 'Gotham-light', 'Arial', sans-serif;
  font-size: 2.875em;
  line-height: 2.375em;
}

.game-over article h2 span {
  font-family: 'Gotham bold', 'Arial', sans-serif;
}

.game-over article h2:before {
  content: '';
  position: absolute;
  width: 17.5%;
  left: 41.25%;
  height: 3px;
  background: white;
  top: 100px;
}

.game-over article p {
  text-transform: none;
  line-height: 4.5em;
  font-size: 1.25em;
}

.game-over article p:first-of-type {
  margin-bottom: 50px;
}

.game-over article p:last-of-type {
  text-transform: uppercase;
  position: fixed;
  right: 80px;
  bottom: 20px;
  font-size: 0.75em;
  font-weight: 900;
}

.game-over article a {
  text-decoration: none;
  font-size: 0.875em;
  margin: 0.9375em;
  display: block;
}

@keyframes moveArrowNext {
  0% {
    transform: translateZ(0) translateY(-10px);
  }
  100% {
    transform: translateZ(0) translateY(0px);
  }
}

@keyframes moveArrowChoiceRight {
  0% {
    transform: translateZ(0) translateY(-1px) translateX(10px) rotate(180deg);
  }
  100% {
    transform: translateZ(0) translateY(-1px) translateX(15px) rotate(180deg);
  }
}

@keyframes moveArrowChoiceLeft {
  0% {
    transform: translateZ(0) translateY(1px) translateX(-10px);
  }
  100% {
    transform: translateZ(0) translateY(1px) translateX(-15px);
  }
}

@keyframes moveArrowChoiceBottom {
  0% {
    transform: translateZ(0) rotate(-90deg) translateX(0px);
  }
  100% {
    transform: translateZ(0) rotate(-90deg) translateX(-5px);
  }
}

@keyframes moveArrowChoiceUp {
  0% {
    transform: translateZ(0) translateY(0px);
    img {
      fill: white;
    }
  }
  100% {
    transform: translateZ(0) translateY(-5px);
    img {
      fill: green;
    }
  }
}

@keyframes circleRight {
  0% {
    transform: translateZ(0) translateX(0px);
  }
  100% {
    transform: translateZ(0) translateX(10px);
  }
}

@keyframes circleLeft {
  0% {
    transform: translateZ(0) translateX(0px);
  }
  100% {
    transform: translateZ(0) translateX(-10px);
  }
}

@keyframes circleTop {
  0% {
    transform: translateZ(0) translateY(0px);
  }
  100% {
    transform: translateZ(0) translateY(-10px);
  }
}

@keyframes circleBottom {
  0% {
    transform: translateZ(0) translateY(0px);
  }
  100% {
    transform: translateZ(0) translateY(10px);
  }
}
