@-webkit-keyframes pulsar-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes pulsar-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@-webkit-keyframes pop-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
  }
  15% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -200px, 0);
            transform: translate3d(0, -200px, 0);
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
  }
  15% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -200px, 0);
            transform: translate3d(0, -200px, 0);
  }
}

body {
  font-size: 18px;
  font-family: "Arial";
  color: #fff;
  background: url("../img/background_ingame.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  font-family: 'Gotham Book';
  font-size: 16px;
  z-index: 1;
}

.intro .container {
  width: 85%;
  margin: auto;
  text-align: center;
  -webkit-animation: remove 5s paused forwards;
          animation: remove 5s paused forwards;
}

.intro .container .motion-glow {
  margin: 15vh auto !important;
  background: #4a4abc;
  height: 40vh;
  width: 40vh;
  margin: auto;
}

.intro .container .motion-glow video {
  min-width: 100%;
  min-height: 100%;
}

.intro .container p {
  -webkit-animation: remove 1s forwards;
          animation: remove 1s forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  line-height: 1.25;
}

.intro .container p:last-of-type {
  margin-top: -10px;
}

.intro .container input[type=text] {
  margin: 10px auto;
  background: none;
  width: auto;
  height: 2em;
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  text-align: center;
  font-family: inherit;
  border-radius: 0;
  border: 1px solid transparent;
  -webkit-padding-start: 0;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1em;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.15s;
}

.intro .container input[type=text]:focus {
  border-bottom: 1px solid white;
}

.intro .container input[type=text].required {
  border: 1px solid white;
}

.intro .container input[type=text].confirmed {
  color: #feceab;
  border-color: transparent;
}

.intro .container .translate {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  -webkit-transform: translateY(-65px);
      -ms-transform: translateY(-65px);
          transform: translateY(-65px);
}

.main,
.bottom-bar {
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

.main {
  width: 75vw;
  float: left;
  background-color: rgba(0, 0, 0, 0.8);
}

.main .illustration {
  width: 100%;
  height: 275px;
  background: #4b6cb7;
  background: linear-gradient(to right, #4b6cb7, #182848);
}

.main .illustration:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 275px;
  background: #4b6cb7;
  background: linear-gradient(to right, #4b6cb7, #182848);
  opacity: 1;
}

.main .illustration img {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  display: block;
  margin: auto;
  opacity: 0.5;
  -webkit-animation: pulsar-blink 1s reverse 1s forwards;
          animation: pulsar-blink 1s reverse 1s forwards;
}

.main .story {
  width: 100%;
  height: 40vh;
  overflow: auto;
  padding: 40px 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Libre Baskerville', serif;
  color: white;
}

.main .story p {
  padding: 7.5px 30px;
}

.main .story:before {
  content: '';
  position: absolute;
  top: 275px;
  left: 0;
  box-shadow: inset 0px 30px 80px rgba(0, 0, 0, 0.75), inset 0px -30px 80px rgba(0, 0, 0, 0.75);
  width: 75vw;
  height: 40vh;
}

.main .questions {
  width: 100%;
  height: 500px;
  border-top: 1px solid rgba(255, 255, 255, 0);
}

.main .questions .arrow_naration {
  position: absolute;
  right: calc(25% + 30px);
  bottom: 100px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 30px;
}

.main .questions .arrow_naration a {
  background-color: #FF4B39;
  border-radius: 50px;
  color: transparent;
  text-decoration: none;
}

.main .questions .arrow_naration a:hover {
  background-color: #fefefe;
}

.main .questions .arrow_naration a:active {
  background-color: #0099DE;
}

.main .questions ul {
  text-align: center;
}

.main .questions ul li:not(.arrow_naration) {
  margin: 5px 0px;
}

.main .questions .timer {
  width: 200px;
  height: 8px;
  background: #373637;
  margin: auto;
}

.main .questions .timer span {
  width: 100%;
  height: 80%;
  background: #edb424;
  display: block;
  position: relative;
  top: 10%;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.main .pop_up {
  font-family: 'Gotham', 'Arial', sans-serif;
  font-size: 0.9em;
  position: absolute;
  width: 300px;
  height: 80px;
  background: rgba(24, 40, 72, 0.95);
  box-shadow: 0px 5px 10px #0b1322;
  top: 50px;
  right: calc(25vw + 20px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: pop-up 5s ease-in-out forwards;
          animation: pop-up 5s ease-in-out forwards;
}

.main .pop_up .icon {
  float: left;
  width: 25%;
  background: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/3d-glossy-orange-orbs-icons-alphanumeric/104839-3d-glossy-orange-orb-icon-alphanumeric-exclamation-point1.png) no-repeat center center;
  height: 100%;
  background-size: cover;
}

.main .pop_up .message {
  float: left;
  width: 75%;
  height: 100%;
  line-height: 80px;
  text-align: center;
}

.ui-panel {
  font-family: 'Gotham', 'Arial', sans-serif;
  height: 100vh;
  float: right;
  width: 25vw;
  background-color: rgba(0, 0, 0, 0.6);
  float: left;
  text-align: center;
  text-transform: uppercase;
  overflow-y: auto;
}

.ui-panel .act {
  height: 65px;
  background: transparent;
  text-align: left;
  padding-top: 15px;
}

.ui-panel .act p {
  font-size: 17px;
  line-height: 1.4;
  padding-left: 13px;
  letter-spacing: 1.2px;
}

.ui-panel .act p span {
  font-weight: bold;
}

.ui-panel .act p:first-child {
  letter-spacing: 0px;
  font-size: 9px;
}

.ui-panel .date .day {
  font-weight: 500;
  letter-spacing: .5px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  background: #153059;
}

.ui-panel .date .hour {
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  background: #001328;
}

.ui-panel .remappage {
  font-size: 12px;
  height: 60px;
  background: #1a3b5c;
  overflow: hidden;
}

.ui-panel .remappage img {
  float: left;
  position: relative;
  right: 21px;
  top: -9px;
  margin: 5px 0;
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
}

.ui-panel .remappage .state {
  font-size: 15px;
  letter-spacing: .5px;
  margin: 15px 30px 5px 0px;
  opacity: 0.5;
}

.ui-panel .remappage p:not(.state) {
  opacity: 0.5;
  letter-spacing: 0px;
  font-size: 13px;
  margin-right: 30px;
}

.ui-panel .remappage p:not(.state) span {
  font-weight: bold;
}

.ui-panel .pulsars {
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
}

.ui-panel .pulsars p {
  line-height: 60px;
  padding-left: 20px;
}

.ui-panel .pulsars span img {
  position: relative;
  top: 7.5px;
  -webkit-animation: pulsar-blink 2.5s infinite 10s alternate ease-in;
          animation: pulsar-blink 2.5s infinite 10s alternate ease-in;
}

.ui-panel .pulsars .pulsar-remainging {
  font-weight: bold;
}

.ui-panel .pulsars .pulsar-remainging:hover {
  letter-spacing: 2px;
}

.ui-panel .user-stats .icon {
  width: 20px;
  height: 20px;
  background: url(../img/icons/pie-chart5.svg) no-repeat center center;
  background-size: cover;
  display: block;
  float: left;
  margin: 18px 0;
  position: relative;
  left: 15%;
}

.ui-panel .user-stats > p {
  line-height: 60px;
}

.ui-panel .user-stats > p span {
  font-weight: bold;
}

.ui-panel .user-stats ul {
  font-size: 14px;
  text-align: left;
  width: 70%;
  margin: auto;
}

.ui-panel .user-stats ul li {
  opacity: 0;
  font-size: 16px;
  padding: 8px 0;
  -webkit-animation: fade-in 2s forwards;
          animation: fade-in 2s forwards;
}

.ui-panel .user-stats ul li:nth-child(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.ui-panel .user-stats ul li:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.ui-panel .user-stats ul li:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.ui-panel .user-stats ul li:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.ui-panel .user-stats ul li:nth-child(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.ui-panel .user-stats ul li:nth-child(6) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.ui-panel .user-stats ul li:nth-child(7) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.ui-panel .user-stats ul li p {
  display: inline-block;
}

.ui-panel .user-stats ul li p:last-child {
  float: right;
  transition: opacity 0.3s;
}

.ui-panel .menu {
  position: absolute;
  bottom: 0;
  float: left;
  width: 25%;
}

.ui-panel .menu button {
  text-transform: uppercase;
  display: block;
  background: #353732;
  font-size: 12px;
  width: 100%;
  color: white;
  text-align: left;
  padding-left: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
}

.ui-panel .menu ul li {
  display: inline-block;
  height: 30px;
  background: #252a2d;
  width: calc(100% / 4);
  float: left;
  border-right: 1px solid white;
  transition: 0.15s;
}

.ui-panel .menu ul li:hover {
  background: #263238;
}

.ui-panel .menu ul li:hover img {
  opacity: 0.5;
}

.ui-panel .menu ul li img {
  margin: 5px;
  transition: opacity 0.3s;
}

.bottom-bar {
  width: 75%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.bottom-bar span {
  height: 4px;
  margin: 10px 0;
  display: inline-block;
  width: calc(50% - 30px);
  float: left;
  background: white;
}

.bottom-bar span:last-child {
  margin-left: 30px;
}

.bottom-bar a {
  float: left;
  -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
          transform: translateX(15px);
}

@media only screen and (max-width: 1100px) {
  border: 2px solid red;
  .pulsars {
    font-size: 12px;
  }
  .pulsars p {
    padding-left: 0px;
  }
  .user-stats .icon {
    left: 10px;
    height: 15px;
    width: 15px;
    margin: 17.5px 0;
  }
  .user-stats > p {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: #343537;
  border: 0px none #ffffff;
  border-radius: 57px;
}

::-webkit-scrollbar-track:hover {
  background: #343537;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
