// GENERALS
body {
    background-color: black;
    overflow: hidden;
    user-select: none;
}

.clear {
    clear: both;
}

.good {
    color: #49ff5b;
}

.bad {
    color: #f3342a;
}

// HEADER
// Style Header
header {
    background-color: black;
    color: white;
    font-family: 'Gotham', Arial, sans-serif;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.5rem 2rem 1.5rem 2rem;
    animation: fadeInLeft 1s ease-in-out 0s normal running 1 forwards;
}

#compteur {
    font-weight: bold;
}

// Style BG on moving
.overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 0;
    opacity: 0.8
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    .image {
        animation: moveBackground 60s ease-in-out 0s alternate running infinite forwards;
    }
    img {
        width: 150%;
    }
}

@keyframes moveBackground {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    100% {
        transform: translateX(-300px) translateY(-200px);
    }
}

// Style quote
.quote-evaluation {
    animation: fadeIn 1s ease-in-out .75s normal running 1 forwards;
    color: white;
    font-family: 'Baskerville', Times, serif;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-right: 4rem;
    text-align: right;
    opacity: 0;
}

// EVALUATION BAR
// Style evaluation section
.sectionEvaluation {
    padding-top: 4rem;
    text-align: center;
}

// Style evaluation bars
.evaluation {
    display: inline-block;
    padding: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
    position: relative;
    color: white;
    width: 500px;
    font-family: 'Gotham', Arial, sans-serif;
    opacity: 0;
    animation: fadeInLeft .75s ease-in-out 0.35s normal running 1 forwards;
    .layerOne {
        width: 100%;
        display: inline-block;
        text-align: left;
        h1 {
            display: inline-block;
            font-size: 1.1rem;
            padding-bottom: .3rem;
        }
        h2 {
            position: absolute;
            right: 0px;
            top: -5px;
            float: right;
            font-family: 'Gotham', Arial, sans-serif;
            font-size: 4rem;
            opacity: 0.2;
            display: inline-block;
        }
    }
    .layerTwo {
        p {
            text-align: left;
            margin-top: .4rem;
            font-size: 0.8rem;
            font-weight: 500;
        }
    }
    .bar {
        width: 100%;
        padding: 3px;
        border: 1px solid white;
        .progress-bar {
            width: 89%;
            height: 12px;
            background-color: rgba(255, 255, 255, 1);
        }
    }
}

#bar01 {
    width: 89%;
}

#bar02 {
    width: 64%;
}

#bar03 {
    width: 99%;
}

#bar04 {
    width: 39%;
}

#bar05 {
    width: 19%;
}

// ACHIVEMENTS
.achievements {
    position: relative;
    color: white;
    font-family: 'Gotham', Arial, sans-serif;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: -1rem;
    opacity: 0;
    animation: fadeInRight .75s ease-in-out 0.6s normal running 1 forwards;
    h1 {
        text-align: left;
        padding: .5rem 0rem;
        border-bottom: 1px solid white;
    }
    .badges {
        display: inline-block;
        width: 35rem;
        margin: 0.5rem 0;
        img {
            width: 99%;
        }
        &:not(.won) {
            opacity: 0.1;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
}

// NEXT ACT BUTTON
.return_menu {
    position: fixed;
    color: white;
    width: 25vw;
    padding: .50rem;
    background-color: rgba(219, 217, 219, 0.3);
    text-align: center;
    font-family: 'Gotham', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: .75rem;
    right: 0px;
    bottom: 80px;
    opacity: 0;
    animation: apparitionButton 1s ease-in-out 1.5s normal running 1 forwards;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        background-color: rgba(219, 217, 219, 0.5);
        color: rgba(255, 255, 255, 0.7);
    }
    &:active {
        cursor: pointer;
        background-color: rgba(219, 217, 219, 1);
        color: rgba(255, 255, 255, 1);
    }
}

.nextAct {
    display: inline-block;
    position: fixed;
    width: 50vw;
    right: 0px;
    height: 5rem;
    bottom: 0px;
    opacity: 0;
    background-color: rgba(24, 94, 129, 0.4);
    animation: apparitionButton 1s ease-in-out 1s normal running 1 forwards;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        opacity: 1;
        background-color: #3D9ECF;
    }
    &:active {
        cursor: pointer;
        opacity: 1;
        background-color: #65CCFF;
    }
    .text {
        width: 90%;
        height: 100%;
        float: left;
        text-align: right;
        padding-top: 1rem;
        padding-right: 3rem;
        font-family: 'Gotham', Arial, sans-serif;
        color: white;
        h1 {
            border-top: 1px solid white;
            font-size: 1.5rem;
            padding-top: .3rem;
            width: 100%;
        }
        h2 {
            font-size: .9rem;
            padding-bottom: .2rem;
        }
    }
    .icon {
        width: 10%;
        height: 100%;
        float: right;
        text-align: center;
        img {
            margin-left: -2rem;
            margin-top: 1rem;
            width: 3rem;
            transform: rotate(180deg);
        }
    }
}

// ANIMATIONS METHODS
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes apparitionButton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}